    <link rel="stylesheet" href="static/aboutus.css">
    <link rel="stylesheet" href="static/home.css">



{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <h1 class="text-center">About Us</h1>
    <div class="box">

        <a href = #aboutwebsite>EducateMe</a>
        <a href = #courses>Courses</a>
        <a href = #ourteam>Our Team</a>
        <a href = #termsandservices>Terms and Services</a>
        <a href = #contactus>Contact Us</a>

    </div>

        <br>
     <hr>
    <div id = "aboutwebsite">
        <h3 class="text-center">What is EducateMe?</h3>
        <p class="paratext">EducateMe is optimized for learning, testing, and training. </p>
        <p class="paratext">Examples might be simplified to improve reading and basic understanding. Tutorials, references, and examples are available.</p>
        <div class="need-for-dx-container">
        <h3 class="text-center">Our Mission?</h3>
        <p class=" paratext" >EducateMe is a learner’s heaven.
            We pride ourselves on building a platform to help
            software developers become more productive and successful. <br>
            Million of users across the world trust the platform to upskill themselves, stay relevant and accelerate professional growth.
            We invite you to embark on this extraordinary journey of learning, impact and growth with us.<br>
        </p>
</div>
        <h3 class="text-center">Easy Learning</h3>
        <p class="paratext" >EducateMe has focus on simplicity.<br>
            EducateMe practice easy learning.<br>
            EducateMe courses start from basic level and move all the way up to professional references.<br>
            EducateMe uses simple code examples and simple illustrations of how to use it.<br>
            EducateMe is free, and will always be.
        </p>
    </div>
    <hr>
    <div id = "courses">
         <h3 class="text-center">Our Courses</h3>
        <p class="paratext" >We create simplified and interactive learning experiences.
            <br><br>EducativeMe is useful for every learner either ther want to learn about web developement, android developement,
            system programing, artifical intelligence, machine learning and many more....<br><br>
            HTML Course <br>
            CSS Course <br>
            JavaScript Course <br>
            PHP Course <br>
            SQL Course <br>
            Python Course <br>
            Java Course <br>
            C Language Course<br>
            C++ Course<br>
            C# Course<br>
            Linux Course<br>
            Unix Course<br>
            Assembly Language Course</p>

    </div>
    <hr>
    <div id = "termsandservices"> <h2 class="text-center">Terms of Service</h2>
        <h3 class="text-center">Site Usage Terms</h3>
        <p class="paratext">By agreeing to these Terms of Service, you represent that you are at least the age of majority
            in your state or province of residence, or that you are the age of majority in your state or province of
            residence and you have given us your consent to allow any of your minor dependents to use this site.
            <br>Access to services may require you to register an account. This could require you to provide information
            about yourself such as name, email address and credit card details. You may not use our products for any
            illegal or unauthorized purpose nor may you, in the use of the Service, violate any laws in your jurisdiction
            (including but not limited to copyright laws). You are responsible for complying with any law, rules,
            and regulations applicable to you. You must not transmit any worms or viruses or any code of a destructive nature.
            <br><br> A violation of any of our Terms can result in an immediate termination of your Services.
            We reserve the right to remove or restrict your account and to remove content such as websites
            and other user-created data at any time at our sole and absolute discretion. </p>
    </div><hr>
    <div id = "ourteam"> <h2 class="text-center">Our Team</h2>

<!--    <h2 id="heading2">Our Team</h2>-->
<!--     <div class="container">-->
<!--    <div class="cards grid-row">-->
<!--        <div class="card" style="height: 370px;">-->
<!--        <div class="card-top">-->
<!--            <h5 style="margin-left: 3px">NAME</h5>-->
<!--        </div>-->
<!--            <div class="card-info">-->
<!--            <div style="height: 12rem;">-->
<!--            <p class="excerpt">komal</p>-->
<!--            </div>-->
<!--             </div>-->
<!--        <div class="card-bottom flex-row">-->
<!--                <button >Contact</button>-->
<!--        </div>-->
<!--      </div>-->



    <div class="rowss grid-row d-flex justify-content-center">
    <div class="aboutuscards">
        <div class="container container1 card-info">
        <img src="/static/images/arsal.png" alt="a" >
                <h2>Arsal Hussain</h2>
                <p class="title">LEAD DESIGNER</p>
                <p>Involved in being a web lead designer include UI/UX developing, visual and graphic design, web design,user engagement, interactive design and information structuring.</p>
                <p class="email">arsal@gmail.com</p>
<!--                <p><button class="button1">Contact</button></p>-->
                </div>
    </div>
    <div class="aboutuscards">
        <div class="container container1 card-info">
        <img src="/static/images/temp.png" alt="" >
                <h2>Usama Raiz</h2>
                <p class="title">LEAD DEVELOPER</p>
                <p>Having knowledge of the analytics required and understand core digital development principles like digital infrastructure, web design, and user engagement.</p>
                <p class="email">usama@gmail.com</p>
<!--                <p><button class="button1">Contact</button></p>-->
                </div>
    </div>
    <div class="aboutuscards">
        <div class="container container1 card-info">
        <img src="/static/images/temp.png" alt="" >
                <h2>Wahab Bin Tahir</h2>
                <p class="title">SENIOR EDITOR</p>
                <p>Proofreading or fact-checking established work. Also capable of assisting with the development of new content.Reporting directly to the webmaster.</p>
                <p class="email">wahab@gmail.com</p>
<!--                <p><button class="button1">Contact</button></p>-->
                </div>
    </div>

</div>
    <div class="rowss grid-row d-flex justify-content-center">

    <div class="aboutuscards">
        <div class="container container1 card-info">
        <img src="/static/images/temp.png" alt="" >
            <h2>Laiba Tariq</h2>
            <p class="title">WEB MANAGER</p>
            <p>Responsible for the delegation of duties among the team and because of this carries a great deal of responsibility depending on how the team performs. Capable of developing web designs.</p>
            <p class="email">laiba@gmail.com</p>
<!--            <p><button class="button1">Contact</button></p>-->
            </div>
    </div>
    <div class="aboutuscards">
        <div class="container container1 card-info">
        <img src="/static/images/temp.png" alt="" >
            <h2>Komal Afzaal</h2>
            <p class="title">ASSISTANT DEVELOPER</p>
            <p>Having knowledge about graphic design, front end and back end development and also being able to write in a variety of computer languages from HTML to JSP.</p>
            <p class="email">komal@gmail.com</p>
<!--            <p><button class="button1">Contact</button></p>-->
            </div>
        </div>
    </div>
    </div>

    <div id = "contactus">
        <h2 class = "text-center">Contact Us</h2><br>
<!--        <img src="/static/images/contactus.png" class="rounded float-left" alt="...">-->
<!--        <img id = "contactimg" class="img-thumbnail contact-image rounded float-left img-res" alt="Responsive image" src="/static/images/contactus.png">-->
         <p class="paratext">Have questions? OR If you discover that the site or its contents contains errors,
            please contact us so these can be corrected. The quickest way to get in touch with us is using
             the contact information below. </p>
        <p class="paratext"> Email at: contact@educateme.io</p><br><br><br><br>
    </div>
<div><button onclick="scrollToTop()" id="gototop" class="float-right">Back To TOP</button><br></div>
</div>
<script>
    const scrollToTop = () => {
        window.scroll({
            top:0,
            behavior: "smooth",
        });
    };
    document.getElementById("gototop");
</script>



 {% endblock %}