


<style>
   h3{ text-align: center;
        color: #154;
        text-decoration: underline;
   }
   #textContainer{
        border: 2px solid grey;
        border-radius: 10px;
        background-color: aliceblue;
    }
    .twoButtons {
    display: flex;
    justify-content: space-around;
}
</style>
{% extends "layout.html" %}
    {% block body %}

    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

<script>

function go2(nr) {
  $('.container').fadeToggle(200);
  $('#suggestions').fadeToggle(200);
  $('#footerBG').fadeToggle(200);

  $('.message2').toggleClass('comein');
  $('.check2').toggleClass('scaledown');
  $('#submit').fadeToggle(nr);
}



function go(nr) {
  $('.container').fadeToggle(200);
  $('#suggestions').fadeToggle(200);
  $('#footerBG').fadeToggle(200);

  $('.message').toggleClass('comein');
  $('.check').toggleClass('scaledown');
  $('#submit').fadeToggle(nr);
}

let popup = document.getElementById("popup");
        function openPopup()
        {
            popup.classList.add("open-popup");
        }
        function closePopup()
        {
            popup.classList.remove("open-popup");
        }

    function fun(e){
            console.log(e);

            var courseName =e['value'];
            console.log(courseName);



            var data={}
        data["courseName"]=courseName
        courseName=JSON.stringify(data)
        console.log('in enroll script',courseName);  
        
        
        
        
        $.ajax({
                url: '/api/enroll', // url where to submit the request
                type : "post", // type of action POST || GET
            
                data : courseName, // post data || get data
                dataType : 'json',
                contentType: "application/json; charset=utf-8",

                success : function(result) {
                    // you can see the result from the console
                    // tab of the developer tools
                    console.log(result)

                    result=result['msg']
                    if (result=="True")
                    {
                        go(50)

                     




                    }
                    else{

                        go2(50)



                    }
                },
                error: function(xhr, resp, text) {
                    console.log("error idhr");
                    console.log(xhr, resp, text);
                    alert("Enrollment Failed")
                }
            })         

        }
</script>


<div class='message'>
    <div class='check'>
      &#10004;
    </div>
    <p>
      Congratulations for the successfull enrollment in the course
    </p>
    
    <button id='ok' onclick="go(500)" >
      OK
    </button>
  </div>
  
  
  <div class='message2'>
      <div class='check2'>
          ❌    </div>
      <p>
        You are already enrolled in this course
      </p>
      
      <button id='ok2' onclick="go2(500)" >
        OK
      </button>
    </div>
    
  



<h1>{{coourseName}}</h1>

<div class="container" id="textContainer">
<h3>{{pageName}}</h3>

{% for singleLine in pageContent %}

<p> {{singleLine| safe  }} </p>
{% endfor %}
</div>
<div class="twoButtons" >
<div class="btn">
                <!-- <form action="/enrollnow" method="post"> -->

                <button type="submit"  onclick="fun(this)" value="{{courseName}}" name="enroll" class="enrollseeMore"   >Enroll Now</button>
                    <!-- </form> -->
</div>

          <a href="/homescreen" class="btn btn-large btn-info"style="background-color: #154962 !important;
          border-radius: 22px !important;
          height: 3rem;
          margin-top: 9px;"><i class="icon-home icon-white"></i> Take Me Home</a>


        </div>




    {% endblock %}

